:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #36736c; /* dark slate blue */
    --accent2-color: #e9c46a; /*light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0;
   
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color)
}

.socialmedia a{
    text-decoration: none;
}

.hero img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
   position: absolute; 
   top: auto;
   width: 100%;
   padding: 16px;
   text-align: center;
   opacity: 0.5;
   background-color: var(--accent1-color);
}

article {
  position: relative;
  font-family: var(--body-font);
}

.hero article img {
    float: right;
    width: 125px
}

.hero {
    position: relative;
}

.hero article {
position: absolute;
color: var(--accent2-color)
}

header {
    display: grid;
    grid-template-rows: 1/2, 1/2;
}

nav {
    display: flex;
    flex-direction:row ;
    text-decoration: none;
    color: dimgray;
}

header img {
    width: 100px;
    height: auto; 

}

.address{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.addresstitle {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
}
.socialmedia img {
    width: 50px;
    height: 40px;
 }

.await {
    display: flex;
    flex-direction: row;
}
.await img {
    width: 150px;
    height: 100px;
}
h2 {
    text-align: center;
}

form {
      margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
    display: flex;
    flex-direction: row;
}
