* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #4a47474a;
    color: #ffffff;
}

h1 {
    margin: .5rem;
}


form {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #111;
}

input, textarea, select, button{
    padding: .75rem;
    width: 350px;
}

button{
    background-color: rgb(142, 171, 150);
    color: azure;
    padding: 1rem;
margin: 0 auto;
display: block;
border-radius: .5rem;
 border: 1px solid rgb(0, 0, 0 / 10%);
 box-shadow: 0 0 15px #eee;
}

code {
    display: block;
    background-color: rgba(22, 255, 69, 0.237);
}

.box {
       margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem; 
}

.quiz-item {

}