main {
max-width: 840px;
}
nav {
    background-color: blanchedalmond;
    padding: 10px 0;
}
nav a {
    color: #333;
    padding: 2px;
    display: block;
}
h1 {
    color: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb (0 0 0 / 0.2);
    padding: 1rem;
   background-color: burlywood;
    color: #333;
    text-align: center;
}

aside img {
 width: 200px;
height: auto;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb (0 0 0 / 0.2);
    padding: 1rem;
    box-shadow: 20px -3px 25px #333;
}
p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}