*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: TASA-Explorer, Arial, sans-serif ;
}

main {

}
nav {
    background-color: blanchedalmond;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: #333;
    padding: 2px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    color: #000;
    padding: 0.5rem;
    border-bottom: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
padding: 1rem;
   background-color: burlywood;
    color: #333;
    text-align: center;
    position: relative;
    
}

aside img {
 width: 200px;
height: auto;
}

aside h2 {
position: absolute;
top: 2px;
left: 55px
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    box-shadow: 20px -3px 25px #333;
    float: right;
    margin: 0 0 1rem 1rem;
    
}
p { 
    padding: 0;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: burlywood;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem; 
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}