*{margin: 0;
padding: 0;

}

body {
  font-family: Arial, sans-serif;  
  line-height: 1.45;
}

header, footer {
background-color: cornflowerblue;
color: white;
padding: 10px 0;
text-align: center;
font-size: 1.5rem;
}

main {
width: 400px;
margin: 0 auto;

}
h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 20px -3px 25px #333 ;
}
section {
margin: 20px 0;
border: 1px solid rgb(0 0 0  / 10%);
padding:20px;
background-color: #abe;
font-size: 0.85rem;
}

section p {
    margin: 10px; 
}

ul {
    margin: 10px 20px 15px; 
}

footer {
font-size: 0.85rem
}

